body {
  font-family: sans-serif;
}

.react-list-select {
  display: inline-block;
  position: relative;
  outline: none;
}

.react-list-select--item {
  position: relative;
  cursor: pointer;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


body {
  padding: 3em;
}

.demo > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5em;
}


/* Add some style to the list */

.react-list-select {
  background: #fafafa;
  border: 1px solid #cacaca;
  margin-right: .5em;
}
.react-list-select--item label {
  padding: .3em .6em;
}
.react-list-select--item.is-selected {
  background: #D7E7FF;
}
.react-list-select:focus .react-list-select--item.is-focused::before,
.react-list-select:focus .react-list-select--item.is-focused::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #79B9FF;
}
.react-list-select:focus .react-list-select--item.is-focused::before {
  left: 0;
}
.react-list-select:focus .react-list-select--item.is-focused::after {
  right: 0;
}
.react-list-select--item.is-disabled {
  color: #afafaf;
}

.react-list-select--item > label {
  display: block;
  cursor: pointer;
}
.react-list-select--item > label > .chkbox {
  display: none;
}

.context-menu .react-list-select {
  padding: .3em 0;
}
.context-menu .react-list-select--item {
  font-size: .8125em;
}


/* Component in list - last example */

.contact {
  padding: .5em;
}
.contact .email {
  font-size: .675em;
  color: #999;
}
